<div class="comment-page">


    <section class="description-box">
        <h4 class="titlebox">posted {{createdAt}}</h4>
        <h2>{{title}}:</h2>
        <h3>{{content}}</h3>
    <div id="comment-form">
        <form id={{id}}>
            <input type="text" id="add-comment" placeholder="type new comment">
            <button class="button-form" id="comment-btn">Comment</button>
        </form>
    </div>
    </section>
<div>
    {{#each Comments}}
    <div class="comment-box">

        <p>{{User.email}} says:</p>
        <h4>{{text}}</h4>
        <p>at {{createdAt}}</p>
    </div>

    {{/each}}
</div>

</div>
<script src="/js/posts.js"></script>